.container {
    background-image: radial-gradient(farthest-corner at 40px 100vh,#fff 50%, #0071bc 100%);
    height: calc(100vh + 50px);

    .main {

        margin-left: 10%;
        display: flex;
        flex-direction: row;

        .side-nav {
            flex: 0.4;
            margin-top: 100px;

            &>h2 {
                &:hover {
                    color: red;
                }
            }

            &>p {
                font-size: 25px;
                font-weight: 450;
                cursor: pointer;

                &:hover {
                    color: red;
                }
            }
        }

        .card-area {
            flex: 0.6;

            .circle {
                width: 180px;
                height: 180px;
                line-height: 280px;
                border-radius: 50%;
                font-size: 20px;
                color: #fff;
                text-align: center;
                background: red;
                margin-top: 20px;
            }
            
            &>h2 {
                margin-top: 50px;
            }

            .two-cards {
                display: block;

                @media (min-width : 1000px) {
                    display: flex;
                }

                .rectangle {
                    width: 300px;
                    height: 200px;
                    line-height: 280px;
                    font-size: 20px;
                    color: #fff;
                    text-align: center;
                    background: black;
                    margin-right: 20px;
                    border-radius: 10px;
                    margin-top: 20px;
                    cursor: pointer;
                }
            }

            .btn-area {
                margin-top: 60px;

                &>span {
                    font-size: 15px;
                    font-weight: 600;
                    padding: 10px 50px;
                    width: 200px;
                    border-radius: 20px;
                    border: 1px solid black;
                    cursor: pointer;
                    margin-right: 20px;
                    white-space: nowrap;

                    &:hover {
                        background-color: red;
                        color: #fff;
                    }
                }

                .arrow {
                    padding: 10px 13px;
                    border-radius: 50%;
                }
            }

        }
    }
}
